$primary-font: 'Helvetica', sans-serif;
$header-font: 'Arial', serif;
$header-font-color: rgb(10, 10, 10);
$header-box-color:rgb(128, 128, 128);
$div-box-color: rgb(26, 46, 65);
$div-font-color: rgba(235, 186, 186, 0.673);

body {
  font: 100%, $primary-font;
  background-image: url('./img/tlo.png');
}

%middle-location {
  text-align: center;
  margin-left: auto;
  margin-right: auto; 
}

%header-grey-box {
  border-radius: 20px;
  background-color: $header-box-color;
  opacity: 0.8;
}

%box {
  border-radius: 20px;
  background-color: $div-box-color;
  width: 40em;
  text-align: center;
  color: $div-font-color;
  margin-top: 20px;
  margin-bottom:20px;
}

h1,h2,h3,h4,h5 {
  @extend %middle-location;
  @extend %header-grey-box;
  font: $header-font;
  color: $header-font-color;
  width: 20em;
}

.box {
  @extend %box;
  @extend %middle-location;
}



